.contr {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff2ee;
  padding-bottom: 150px;
}

.tx {
  text-align: center;
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-label {
  margin-right: 10px;
  margin-bottom: 0;
}

.form-control {
  margin-right: 10px;
}

.form-check {
  margin-left: 10px;
}

button {
  margin-left: 10px;
}
