@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Righteous&family=Rubik+Iso&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&family=Ubuntu:wght@500&display=swap');


.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjusted for full page height */
    padding: 20px;
    background-color: #fff2ee;
}

h1{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Righteous', cursive;
    color: #00c5b6;
}


p{ 
    font-size: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: black;
}

.get-started-button {
    background-color: #ff5757;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
  
.get-started-button:hover {
    background-color: #ffde59;
}

h4{
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
    margin-left: 0px;
}

