.mb-3{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
    padding-right: 75px;
}

.mb-4{ 
    padding-top: 110px;
    padding-bottom: 50px;
    margin-right: 120px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
}
.report{ 
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #fff2ee;
}

.primary{ 
    background-color: black;
}


  
  
  