.container {
    background-color: #fff2ee;
    padding-bottom: 100px;
    padding-top: 70px;
}

.intro h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Righteous', cursive;
    color: #0056b3; /* Adjusted color for contrast */
    text-align: center; /* Center align the title */
}

.intro p {
    font-size: 18px; /* Slightly larger for better readability */
    text-align: center;
    font-family: 'Poppins', sans-serif; /* More readable font */
    color: #333; /* Darker color for better readability */
    max-width: 600px;
    margin: auto; /* Center align the paragraph */
    margin-bottom: 30px; /* Added bottom margin */
}

.card {
    display: flex;
    flex-direction: column; /* Adjusted for better card structure */
    align-items: center; /* Center aligned items */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px; /* Space between cards */
}

.card1, .card2, .card3, .card4 {
    padding: 20px;
}

.primary {
    background-color: #00c5b6; /* Adjusted color for better visibility */
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.primary:hover {
    background-color: #ff5757; /* Color change on hover */
}

@media (max-width: 768px) {
    .card {
        margin-left: 10px;
        margin-right: 10px; /* Adjust margins for smaller screens */
    }
}
